body{

    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

p{
    font-size: 29px;
}

h1{
    font-size: 50px;

}

ul{
    list-style-type: none;
}

#highScoreList{
    list-style-type:circle;
}
a{
    font-size: 0px;
}
li{
    display: inline;
    margin-left: 0%;
}

button{
    margin:10px;
    color: white;
    background-color: rgb(48, 48, 102);
    border-radius: 5px;
    font-size: 25px;
}

.container{
    text-align: center;
    margin: auto;
    margin-top: 5%;
    height: auto;
    width: 50%;
}

.highScoreContainer{
    text-align: left;
    margin: auto;
    margin-top: 5%;
    height: auto;
    width: 50%;
}

#highScoreHeader{
    font-size: 35px;
}

#timer{
    float: right;
    margin-right: 2.5%;
}

#question{
    font-size: 30px;
}

input[type=submit] {
    margin:10px;
    color: white;
    background-color: rgb(48, 48, 102);
    border-radius: 5px;
    font-size: 30px;
    display: flexbox;
}

#displayResult{
    font-size: 40px;
    color: rgb(26, 26, 122);
    margin-bottom: 10px;
}

#formEl{
    display: none;
}

.bttnContainer{
    color: blanchedalmond;
}

label{
    text-align: center;
    margin: 10px;
}

textarea{

    margin-bottom: -10px;

}